<!doctype html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="UTF-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{{ config.APP.NAME }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/knacss-min.css') }}" media="all">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" media="all">
    </head>
    <body>

    <header id="header" role="banner" class="pa0 pal">
        <h1>{{ config.APP.NAME }}</h1>
        <p>{{ config.APP.BASELINE }}</p>
    </header>

    <div class="flex-container">
        <aside class="mod w20 pa0 ma0 aside"></aside>
        <main id="main" role="main" class="flex-item-fluid pam">

            <form>
                <label>Pose un question à GrandPy au sujet d'un lieu : </label>
                <input type=text name="textinput" />
                <input type="submit" name="submit" value="Send" />
            </form>

        </main>
        <aside class="mod w20 pa0 ma0 aside"></aside>
    </div>

    <footer id="footer" role="contentinfo" class="pa0 pal">
        <p>Plus d'info sur <a href="{{ config.APP.SRC }}">Github</a>.</p>
    </footer>
    </body>
</html>
