<!doctype html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="UTF-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{{ config.APP.NAME }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/knacss-min.css') }}" media="all">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" media="all">
    </head>
    <body>

    <header id="header" role="banner" class="pa0 pal">
        <h1>{{ config.APP.NAME }}</h1>
        <p>{{ config.APP.BASELINE }}</p>
    </header>

    <div class="flex-container">
        <aside class="mod w20 pa0 ma0 aside"></aside>
        <main id="main" role="main" class="flex-item-fluid pam">

            <!-- BEGIN JS PLACEHOLDER -->
            <div id='chat'>
            </div>
            <!-- END JS PLACEHOLDER -->
            <form id='form'>
                <label>Pose un question à GrandPy au sujet d'un lieu : </label>
                <input id="input" type=text name="textinput" onfocus="this.value='';"/>
                <input type="submit" name="submit" value="Send" />
                <progress id="progress" style="display:none;"></progress>
            </form>

        </main>
        <aside class="mod w20 pa0 ma0 aside"></aside>
    </div>

    <footer id="footer" role="contentinfo" class="pa0 pal">
        <p>Plus d'info sur <a href="{{ config.APP.SRC }}">Github</a>.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/ask.js') }}"></script>
    <script src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>

    </body>
</html>
