<!doctype html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="UTF-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{{ config.APP.NAME }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/knacss-min.css') }}" media="all">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" media="all">
    </head>
    <body>

    <header id="header" role="banner" class="ma0 pas txtcenter">
        <div class='logo fl'>
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
        </div>
        <h1 class="title center">{{ config.APP.NAME }}</h1>
        <p class="title center">{{ config.APP.BASELINE }}</p>
    </header>

    <div class="flex-container">
        <main id="main" role="main" class="flex-item-fluid pam">

            <!-- BEGIN JS PLACEHOLDER -->
            <div id='chat'>
            </div>
            <!-- END JS PLACEHOLDER -->
            <form id='form' class='left'>
                <label>{{ config.HOME.INPUT_LABEL}}  : </label>
                <input id="input" type=text name="textinput" size={{ config.HOME.INPUT_SIZE }} placeholder="{{ config.HOME.INPUT_PO }}"onfocus="this.value='';"/>
                <input type="submit" name="submit" value="Send" />
                <progress id="progress" style="display:none;"></progress>
            </form>

        </main>
    </div>

    <footer id="footer" role="contentinfo" class="ma0 pas txtcenter">
        <p>Retrouvez le code sur <a href="{{ config.APP.SRC }}">Github</a> | <em>Copyleft</em> 2018 - frédéric zind</p>
    </footer>

    <script src="{{ url_for('static', filename='js/ask.js') }}"></script>
    <script src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>

    </body>
</html>
