/* Votre Style */

body, header, footer, main {
  background: #5BC0DE;
}
img.logo {
  width: 15%;
}
h1.title, p.title {
  width: 40%;
}
form {
  width: 90%;
  background-color: #F0AD4E;
}
p.question {
  width: 90%;
  background-color: #F0AD4E;
}
p.answer {
  width: 90%;
  background-color: #5CB85C;
}
